body {
  background-color: linen;
}
section {
  float: left;
  width: 20%;
}

h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
form {
  text-align: center;
}
.container {
  width: 100%;
  text-align: center;
}

.smallText {
  font-size: medium;
}

ul {
  list-style-type: lower-roman;
}
h2 {
  color: teal;
  text-align: center;
}
p {
  color: darkgreen;
  text-align: center;
  font-size: medium;
}
.title {
  text-align: left;
  font-size: 20px;
  font-style: italic;
  color: orange;
}
aside {
  text-align: left;
  margin-left: 22.5%;
  width: 75.7%;
}
table,
th,
td {
  border: 1px solid black;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}
.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}

.navbar {
  overflow: hidden;
  background-color: lightblue;
  font-family: Arial;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .Genres,
.dropdown .Origins {
  font-size: 16px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .Genres,
.dropdown:hover .Origins {
  background-color: yellow;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.search {
  float: right;
  font-size: 16px;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#button1 {
  width: 150px;
  height: 30px;
  background-color: blanchedalmond;
}

#button2 {
  font-weight: bold;
  font-size: large;
  width: auto;
  height: 30px;
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

a {
  font-size: medium;
}